# Flask framework
Flask==2.3.2  

# For QR code generation
qrcode==7.4.2  

# For image handling
Pillow==11.0.0 --only-binary=:all:

# For Excel / CSV
pandas==2.3.2
openpyxl==3.1.2  
xlrd==2.0.1  

# Production server
gunicorn==21.2.0  

